<table class="data">
    <thead>
        <tr>
            <th style="width: 40px;">Inclure</th>
            <th>Date</th>
            <th class="num">Montant</th>
            <th>Type</th>
            <th>Émetteur</th>
            <th>Client</th>
            <th>Libellé brut</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tx in transactions %}
        <tr id="tx-row-{{ tx.id }}"
            class="{% if not tx.est_virement_entrant %}tx-non-entrant{% endif %}">
            {% include "transactions/_row.html" with context %}
        </tr>
        {% endfor %}
    </tbody>
</table>
